{% extends 'base.html.twig' %}

{% block title %}Hello FormsController!{% endblock %}

{% block body %}

{# {{dump (carnets)}} #}
<ul>
{% for carnet in carnets %}
    <li>{{carnet.titre}}</li>
    {{carnet.dateCarnet|date('d/m/Y')}}
    <img src="{{ carnet.photo }}" alt="Photo du carnet" width="150">


{% endfor %}
</ul>

{% endblock %}