{% extends 'base.html.twig' %}

{% block title %}Nouveau carnet{% endblock %}

{% block body %}

<h3>Nouveau carnet</h3>

    {{ form_start (carnetForm) }}


    {{ form_widget (carnetForm)}}
    <input type="submit" value="Insert">

    {{ form_end (carnetForm)}}

{% endblock %}
