{% extends 'base.html.twig' %}

{% block title %}Nouveau carnet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
{% endblock %}

{% block body %}

<main>
    <h3>Nouveau carnet de voyage</h3>
    
        {{ form_start (carnetForm) }}
    
        {{ form_widget (carnetForm)}}       {# Les champs du formulaire #}
        <input type="submit" value="Créer"> {# Le bouton submit du formulaire #}
    
        {{ form_end (carnetForm)}}
</main>

{% endblock %}