
/* Conteneur de la carte */
#map-container {
    height: 400px;
    display: none;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
}

/* Section des commentaires */
.activity-item {
    transition: all 0.2s;
}

/* Avatars des commentaires */
.rounded-circle {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

/* Styles pour les cartes de carnet */
.carnet {
    position: relative;
    transition: all 0.3s ease;
}

/* Bouton de suppression */
.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(4, 4, 4, 0.8);
    color: white;
    border: none;
    cursor: pointer;
}

/* Affichage du bouton au survol */
.carnet:hover .delete-btn {
    opacity: 1;
}

/* Effet de survol sur l'image */
.carnet .card-img-top {
    transition: all 0.3s ease;
}

.carnet:hover .card-img-top {
    opacity: 0.8;
}

