
/* Style pour le bouton de suppression d'accès */
.users-list {
    margin-top: 0.5rem;
}

.users-list .btn-outline-danger {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.users-list .btn-outline-danger i {
    font-size: 0.7rem;
}

/* Conteneur de la carte */
#localisation-posts{
    font-family: "inria";
    font-size: 1.5rem;
}
#map-container {
    height: 400px;
    display: none;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
}

/* Section des commentaires */
.activity-item {
    transition: all 0.2s;
}

/* Avatars des commentaires */
.rounded-circle {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

/* Styles pour les cartes de carnet */
.carnet {
    position: relative;
    transition: all 0.3s ease;
}

/* Bouton de suppression */
.delete-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(4, 4, 4, 0.8);
    color: white;
    border: none;
    z-index: 1000;
    cursor: pointer;
}

/* Affichage du bouton au survol */
.carnet:hover .delete-btn {
    opacity: 1;
}

/* Effet de survol sur l'image */
.carnet .card-img-top {
    transition: all 0.3s ease;
}

.carnet:hover .card-img-top {
    opacity: 0.8;
}

/* Style pour les commentaires */
.activity-item {
    transition: all 0.2s;
    background-color: #f5f3f0; /* Blanc cassé chaud */
    border: 1px solid #e0d9d1;
}

.activity-item:hover {
    background-color: #e8e4e0 !important; 
    border-color: #d1c9c0;
}

/* Conteneur des carnets */
.carnets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.carnet {
    flex: 0 0 auto;
    text-align: center;
}

.carnet .card {
    width: 10rem;
    border-radius: 3px;
}

.carnet .card-img-top {
    width: 100%;
    border-radius: 3px;

    height: 150px;
    object-fit: cover;
}

.card-title{
    font-size: 0.8rem;
}

.btn-light{
    font-size: 0.8rem;
    border-radius: 0;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.carousel-container {
  width: 75%;
  margin: 0 auto;
}

