body {
    background-image: url("/img/carte.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.card-body{
    background-color: rgba(255, 255, 255, 0.527);
}

.form-label {
    color: #4d4439;
    font-weight: 500;
}

.form-control {
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-select:focus{
    outline: none;
    border-color: #4d4439;
    box-shadow: 0 0 0 0.2rem rgba(77, 68, 57, 0.25);
}
.form-control:focus {
    outline: none;
    border-color: #4d4439;
    box-shadow: 0 0 0 0.2rem rgba(77, 68, 57, 0.25);
}

.btn-primary {
    background-color: #4d4439;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #887b6c;
    border: none;
}
#add-photo:hover{
    background-color: #887b6c7d;
}
#toggle-map-btn:hover{
    background-color: #887b6c7d;
}
/* Style pour les messages d'erreur */
.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
    margin-top: 0.25rem;
}

/* Style pour les champs invalides */
.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-color: #fff;
}